TA_GesBib_Cliente/TA_GesBib_Cliente/Connected Services/ServicioJava/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.lp2soft.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Servicio" targetNamespace="http://services.lp2soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.205.213:8080/GesBibServices/Servicio?xsd=1" namespace="http://services.lp2soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarBiblioteca">
    <part name="parameters" element="tns:insertarBiblioteca" />
  </message>
  <message name="insertarBibliotecaResponse">
    <part name="parameters" element="tns:insertarBibliotecaResponse" />
  </message>
  <message name="listarCapacitaciones">
    <part name="parameters" element="tns:listarCapacitaciones" />
  </message>
  <message name="listarCapacitacionesResponse">
    <part name="parameters" element="tns:listarCapacitacionesResponse" />
  </message>
  <message name="insertarAuxiliarBiblioteca">
    <part name="parameters" element="tns:insertarAuxiliarBiblioteca" />
  </message>
  <message name="insertarAuxiliarBibliotecaResponse">
    <part name="parameters" element="tns:insertarAuxiliarBibliotecaResponse" />
  </message>
  <message name="eliminarDiaCapacitacion">
    <part name="parameters" element="tns:eliminarDiaCapacitacion" />
  </message>
  <message name="eliminarDiaCapacitacionResponse">
    <part name="parameters" element="tns:eliminarDiaCapacitacionResponse" />
  </message>
  <message name="insertarPracticante">
    <part name="parameters" element="tns:insertarPracticante" />
  </message>
  <message name="insertarPracticanteResponse">
    <part name="parameters" element="tns:insertarPracticanteResponse" />
  </message>
  <message name="actualizarCapacitacion">
    <part name="parameters" element="tns:actualizarCapacitacion" />
  </message>
  <message name="actualizarCapacitacionResponse">
    <part name="parameters" element="tns:actualizarCapacitacionResponse" />
  </message>
  <message name="listarPerfilExperiencia">
    <part name="parameters" element="tns:listarPerfilExperiencia" />
  </message>
  <message name="listarPerfilExperienciaResponse">
    <part name="parameters" element="tns:listarPerfilExperienciaResponse" />
  </message>
  <message name="listarBibliotecas">
    <part name="parameters" element="tns:listarBibliotecas" />
  </message>
  <message name="listarBibliotecasResponse">
    <part name="parameters" element="tns:listarBibliotecasResponse" />
  </message>
  <message name="insertarPuntoAtencion">
    <part name="parameters" element="tns:insertarPuntoAtencion" />
  </message>
  <message name="insertarPuntoAtencionResponse">
    <part name="parameters" element="tns:insertarPuntoAtencionResponse" />
  </message>
  <message name="listarPuntosAtencion">
    <part name="parameters" element="tns:listarPuntosAtencion" />
  </message>
  <message name="listarPuntosAtencionResponse">
    <part name="parameters" element="tns:listarPuntosAtencionResponse" />
  </message>
  <message name="insertarPerfilExperiencia">
    <part name="parameters" element="tns:insertarPerfilExperiencia" />
  </message>
  <message name="insertarPerfilExperienciaResponse">
    <part name="parameters" element="tns:insertarPerfilExperienciaResponse" />
  </message>
  <message name="eliminarCapacitacion">
    <part name="parameters" element="tns:eliminarCapacitacion" />
  </message>
  <message name="eliminarCapacitacionResponse">
    <part name="parameters" element="tns:eliminarCapacitacionResponse" />
  </message>
  <message name="insertarBibliotecario">
    <part name="parameters" element="tns:insertarBibliotecario" />
  </message>
  <message name="insertarBibliotecarioResponse">
    <part name="parameters" element="tns:insertarBibliotecarioResponse" />
  </message>
  <message name="insertarGestor">
    <part name="parameters" element="tns:insertarGestor" />
  </message>
  <message name="insertarGestorResponse">
    <part name="parameters" element="tns:insertarGestorResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="listarGestores">
    <part name="parameters" element="tns:listarGestores" />
  </message>
  <message name="listarGestoresResponse">
    <part name="parameters" element="tns:listarGestoresResponse" />
  </message>
  <portType name="Servicio">
    <operation name="insertarBiblioteca">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarBibliotecaRequest" message="tns:insertarBiblioteca" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarBibliotecaResponse" message="tns:insertarBibliotecaResponse" />
    </operation>
    <operation name="listarCapacitaciones">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/listarCapacitacionesRequest" message="tns:listarCapacitaciones" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/listarCapacitacionesResponse" message="tns:listarCapacitacionesResponse" />
    </operation>
    <operation name="insertarAuxiliarBiblioteca">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarAuxiliarBibliotecaRequest" message="tns:insertarAuxiliarBiblioteca" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarAuxiliarBibliotecaResponse" message="tns:insertarAuxiliarBibliotecaResponse" />
    </operation>
    <operation name="eliminarDiaCapacitacion">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/eliminarDiaCapacitacionRequest" message="tns:eliminarDiaCapacitacion" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/eliminarDiaCapacitacionResponse" message="tns:eliminarDiaCapacitacionResponse" />
    </operation>
    <operation name="insertarPracticante">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarPracticanteRequest" message="tns:insertarPracticante" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarPracticanteResponse" message="tns:insertarPracticanteResponse" />
    </operation>
    <operation name="actualizarCapacitacion">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/actualizarCapacitacionRequest" message="tns:actualizarCapacitacion" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/actualizarCapacitacionResponse" message="tns:actualizarCapacitacionResponse" />
    </operation>
    <operation name="listarPerfilExperiencia">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/listarPerfilExperienciaRequest" message="tns:listarPerfilExperiencia" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/listarPerfilExperienciaResponse" message="tns:listarPerfilExperienciaResponse" />
    </operation>
    <operation name="listarBibliotecas">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/listarBibliotecasRequest" message="tns:listarBibliotecas" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/listarBibliotecasResponse" message="tns:listarBibliotecasResponse" />
    </operation>
    <operation name="insertarPuntoAtencion">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarPuntoAtencionRequest" message="tns:insertarPuntoAtencion" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarPuntoAtencionResponse" message="tns:insertarPuntoAtencionResponse" />
    </operation>
    <operation name="listarPuntosAtencion">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/listarPuntosAtencionRequest" message="tns:listarPuntosAtencion" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/listarPuntosAtencionResponse" message="tns:listarPuntosAtencionResponse" />
    </operation>
    <operation name="insertarPerfilExperiencia">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarPerfilExperienciaRequest" message="tns:insertarPerfilExperiencia" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarPerfilExperienciaResponse" message="tns:insertarPerfilExperienciaResponse" />
    </operation>
    <operation name="eliminarCapacitacion">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/eliminarCapacitacionRequest" message="tns:eliminarCapacitacion" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/eliminarCapacitacionResponse" message="tns:eliminarCapacitacionResponse" />
    </operation>
    <operation name="insertarBibliotecario">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarBibliotecarioRequest" message="tns:insertarBibliotecario" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarBibliotecarioResponse" message="tns:insertarBibliotecarioResponse" />
    </operation>
    <operation name="insertarGestor">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarGestorRequest" message="tns:insertarGestor" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/insertarGestorResponse" message="tns:insertarGestorResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/helloRequest" message="tns:hello" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="listarGestores">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/listarGestoresRequest" message="tns:listarGestores" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/Servicio/listarGestoresResponse" message="tns:listarGestoresResponse" />
    </operation>
  </portType>
  <binding name="ServicioPortBinding" type="tns:Servicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarBiblioteca">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCapacitaciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAuxiliarBiblioteca">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarDiaCapacitacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPracticante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCapacitacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPerfilExperiencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarBibliotecas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPuntoAtencion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPuntosAtencion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPerfilExperiencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCapacitacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarBibliotecario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarGestor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarGestores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Servicio">
    <port name="ServicioPort" binding="tns:ServicioPortBinding">
      <soap:address location="http://192.168.205.213:8080/GesBibServices/Servicio" />
    </port>
  </service>
</definitions>